<!-- Footer -->
<footer class="mt-4">
  <!-- Footer top -->
  <div class="container footer_top">
    <div class="row">
      <div class="col-lg-7 col-sm-7">
        <div class="footer_item">
          <h4>About The Project</h4>

          <p>
            Paralysis is dramatically more widespread than previously thought and it affects the most important aspect
            of our daily life (communication) that satisfy the belonging needs of human being therefore we put the
            problem into our consideration and seek for solving it, besides that we intend to provide a comfortable
            environment for our patient as controlling his smart home by his brain.
          </p>

          <ul class="list-inline footer_social_icon">
            <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
            <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
            <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
            <a class="social-yt" href=""><i class="fab fa-youtube"></i></a>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-sm-5">
        <div class="footer_item">
          <h4>Explore link</h4>
          <ul class="list-unstyled footer_menu">
            <li>
              <a href="#why_us"><span class="fa fa-play"></span> Our Applications</a>
            </li>
            <li>
              <a href="#us"><span class="fa fa-play"></span> Meet our team</a>
            </li>
            <li>
              <a href="/aboutUs"><span class="fa fa-play"></span> About Us</a>
            </li>
            <li>
              <a href="#about"><span class="fa fa-play"></span> Welcome</a>
            </li>
            <li>
              <a href="/contact"><span class="fa fa-play"></span> Contact Us</a>
            </li>
            <!-- <li>
                <a href=""><span class="fa fa-play"></span> Privacy Policy</a>
              </li>
              <li>
                <a href=""><span class="fa fa-play"></span> Cekas terms</a>
              </li>
              <li>
                <a href=""><span class="fa fa-play"></span> Site map</a>
              </li> -->
          </ul>
        </div>
      </div>
      <!-- <div class="col-lg-3 col-sm-7">
          <div class="footer_item">
            <h4>Latest post</h4>
            <ul class="list-unstyled post">
              <li>
                <a href=""
                  ><span class="date">20 <small>AUG</small></span> Luptatum
                  omittantur duo ne mpetus indoctum</a
                >
              </li>
              <li>
                <a href=""
                  ><span class="date">20 <small>AUG</small></span> Luptatum
                  omittantur duo ne mpetus indoctum</a
                >
              </li>
              <li>
                <a href=""
                  ><span class="date">20 <small>AUG</small></span> Luptatum
                  omittantur duo ne mpetus indoctum</a
                >
              </li>
              <li>
                <a href=""
                  ><span class="date">20 <small>AUG</small></span> Luptatum
                  omittantur duo ne mpetus indoctum</a
                >
              </li>
            </ul>
          </div>
        </div> -->
      <div class="col-lg-3 col-sm-5">
        <div class="footer_item">
          <h4>Contact us</h4>
          <ul class="list-unstyled footer_contact">
            <li>
              <a href=""><span class="fa fa-map-marker"></span> Dakahlia, Egypt</a>
            </li>
            <li>
              <a href=""><span class="fa fa-envelope"></span> vitae11@gmail.com</a>
            </li>
            <li>
              <a href=""><span class="fa fa-mobile"></span>
                <p>+20 01289716802</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer top end -->

  <!-- Footer bottom -->
  <div class="footer_bottom text-center">
    <p class="wow fadeInRight">
      Made with
      <i class="fa fa-heart"></i>
      By VITAE
      <a target="_blank" href=""></a>
      2023. All Rights Reserved
    </p>
  </div>
  <!-- Footer bottom end -->
</footer>
<!-- Footer end -->
