<div class="about">
  <!-- Page Header Start -->
  <div class=" mb-5">
    <!-- <div class="container">
        <h1 class="display-3 mb-4" data-aos="fade-down-right" data-aos-duration="1500">About Us</h1>
        <h2 data-aos="fade-down" data-aos-duration="2000">"VITAE TEAM"</h2>
        <h5 data-aos="fade-down" data-aos-duration="2000">Using EEG Headset Based On Ai And IOT Techniques To Help The Handicapped</h5>
        <br/>
    </div> -->
        <img src="../../assets/images/header.jpg" class="vh-100 w-100 h-50" alt="">
  </div>
<!-- Page Header End -->
    <div class="container">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0 fs-5">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">About Us</li>
          </ol>
      </nav>
    </div>

    <div class="our-problem my-5">
      <div class="container">
        <h1 class="fw-bold  my-5" data-aos="fade-down-right" data-aos-duration="1500">Our Problem</h1>
        <p data-aos="fade-down" data-aos-duration="2000" class="fs-5 fw-bold text-black">Patients with Cut in the arm, wheelchair for the disabled, car, toys and smart home Led to paralysis (unable to move their limbs and have difficulties in facial muscles as well) which affected badly on their abilities to communicate with others and usage their smart devices.</p>
        <h1 class="fw-bold  my-5" data-aos="fade-down-right" data-aos-duration="1500">Why we Choose It ?</h1>
        <p data-aos="fade-down" data-aos-duration="2500" class="fs-5 fw-bold text-secondary">We choose it according to Statistics, Paralysis is dramatically more widespread than previously thought and it has effect on the most important aspect in our daily life (communication) that satisfy the belonging needs of human being therefore we put the problem in our consideration and seek for solving it, beside that we intend to provide comfort environment for our patient as controlling his smart home by his own brain.</p>
      </div>
    </div>

    <div class="our-solution my-5">
      <div class="container">
        <h1 class="fw-bold my-5" data-aos="fade-down-right" data-aos-duration="1500">Our Solution Abstraction</h1>
        <p data-aos="fade-down" data-aos-duration="2000" class="fs-5 fw-bold text-dark">We made a project to control the human mind through the headset, receiving a signal from the EEG and then sending it to the microcontroller in order to read and translate the event of each application to operate the arm and move it in the 4 directions, operate the wheelchair so that the man who is unable to move can move using the headset, also can drive his car and by receiving signals and using automation he can control the smart home and operate any device, also the headset had a role in men’s exercise and games.</p>
      </div>
    </div>

    <div class="title">
      <div class="container">
        <h1 class="fw-bold py-5" data-aos="fade-down-right" data-aos-duration="2000"><i class="fa-solid fa-microchip"></i> Our Technologies :</h1>
      </div>
    </div>

    <div class="AI bg-light mb-3">
      <div class="container">
        <div class="row g-4 align-items-end my-5 pb-5">
          <div class="col-lg-6" data-aos="fade-right" data-aos-duration="1500">
              <img class="img-fluid rounded w-100" src="../../assets/images/AI.jpg">
          </div>
          <div class="col-lg-6" data-aos="fade-left" data-aos-duration="3000">
              <h3 class="display-5 mb-4 fw-bold text-primary" data-aos="fade-left"><i class="fa-solid fa-brain"></i> Artificial intelligence (Using Python)</h3>
              <p class="mb-4">Simulating the human brain in performing some of its complex functions, such as: (learning, planning, speech discrimination, problem solving, and mental and logical thinking).</p>
              <div class="border rounded p-4">
                  <nav>
                      <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                          <button class="nav-link fw-semi-bold active" id="nav-mission1-tab" data-bs-toggle="tab" data-bs-target="#nav-mission1" type="button" role="tab" aria-controls="nav-mission1" aria-selected="true">Mission</button>
                          <button class="nav-link fw-semi-bold" id="nav-vision1-tab" data-bs-toggle="tab" data-bs-target="#nav-vision1" type="button" role="tab" aria-controls="nav-vision1" aria-selected="false">Vision</button>
                      </div>
                  </nav>
                  <div class="tab-content" id="nav-tabContent">
                      <div class="tab-pane fade show active" id="nav-mission1" role="tabpanel" aria-labelledby="nav-mission1-tab">
                          <p>Make the smart decision Advances in healthcare Research and data analysis Solve complex problems</p>
                          <p class="mb-0">Business continuity is the ability to work 24 hours a day, Manage recurring tasks, Reduce errors and Increase business efficiency</p>
                      </div>
                      <div class="tab-pane fade" id="nav-vision1" role="tabpanel" aria-labelledby="nav-vision1-tab">
                          <p>We look forward to increasing the efficiency of Algorism, which helps to analyze data in a peaceful way, </p>
                          <p class="mb-0">Classification process is done in a smart way to help people with disabilities carry out their tasks in a smarter and more comfortable way.</p>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="Emb mb-3">
      <div class="container">
        <div class="row g-4 my-5">
          <div class="col-lg-6" data-aos="fade-right" data-aos-duration="3000">
              <h1 class="display-5 mb-4 fw-bold text-primary" data-aos="fade-right"><i class="fa-solid fa-gears"></i> Embedded System</h1>
              <p class="mb-4">An embedded system is a computer system a combination of a computer processor , computer memory and input / output peripheral devices that has a dedicated function within a larger mechanical or electronic system.</p>
              <div class="border rounded p-4">
                  <nav>
                      <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                          <button class="nav-link fw-semi-bold active" id="nav-mission2-tab" data-bs-toggle="tab" data-bs-target="#nav-mission2" type="button" role="tab" aria-controls="nav-mission2" aria-selected="true">Mission</button>
                          <button class="nav-link fw-semi-bold" id="nav-vision2-tab" data-bs-toggle="tab" data-bs-target="#nav-vision2" type="button" role="tab" aria-controls="nav-vision2" aria-selected="false">Vision</button>
                      </div>
                  </nav>
                  <div class="tab-content" id="nav-tabContent">
                      <div class="tab-pane fade show active" id="nav-mission2" role="tabpane2" aria-labelledby="nav-mission2-tab">
                        <p>This project has several applications , including the smart home, where a signal is received from the EEG,</p>
                        <p class="mb-0">Read by the microcontroller to operate an element of the smart home , such as a button</p>
                      </div>
                      <div class="tab-pane fade" id="nav-vision2" role="tabpane2" aria-labelledby="nav-vision2-tab">
                          <p>This project has many advantages for the individual and society, as it helps people to do many things by using the EEG signals</p>
                          <p class="mb-0">Translating them by microcontrollers, and we are working on adding additional features in order to develop it better</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6" data-aos="fade-left" data-aos-duration="1500">
            <img class="img-fluid rounded w-100" src="../../assets/images/embedded.jpg">
        </div>
        </div>
      </div>
    </div>

    <div class="Web bg-light mb-3">
      <div class="container">
        <div class="row g-4 my-5 pb-5">
          <div class="col-lg-6" data-aos="fade-right" data-aos-duration="1500">
              <img class="img-fluid rounded w-100" src="../../assets/images/WEB&MOB.png">
          </div>
          <div class="col-lg-6" data-aos="fade-left" data-aos-duration="3000">
              <h1 class="display-5 mb-4 fw-bold text-primary" data-aos="fade-left" ><i class="fa-solid fa-laptop-code"></i> Web Development & Mobile Application</h1>
              <p class="mb-4">Systems used in the project will be placed (self-driving car, smart house and games) on the website as choices for the user at the beginning of his entry to the site where it is chosen.</p>
              <div class="border rounded p-4">
                  <nav>
                      <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                          <button class="nav-link fw-semi-bold active" id="nav-mission3-tab" data-bs-toggle="tab" data-bs-target="#nav-mission3" type="button" role="tab" aria-controls="nav-mission3" aria-selected="true">Mission</button>
                          <button class="nav-link fw-semi-bold" id="nav-vision3-tab" data-bs-toggle="tab" data-bs-target="#nav-vision3" type="button" role="tab" aria-controls="nav-vision3" aria-selected="false">Vision</button>
                      </div>
                  </nav>
                  <div class="tab-content" id="nav-tabContent">
                      <div class="tab-pane fade show active" id="nav-mission3" role="tabpane3" aria-labelledby="nav-mission3-tab">
                          <p>the system will be activated by the user. The API can be able to use and display it on the screen.</p>
                          <p class="mb-0">
                            And some examples of these data that will be displayed on the site when the user makes any action: moving the arm and
                            the vital indicators of the heartbeats and temperature. If there is any problems with sensors, an alert will be given through the site and notification through the application.
                            </p>
                      </div>
                      <div class="tab-pane fade" id="nav-vision3" role="tabpane3" aria-labelledby="nav-vision3-tab">
                          <p>We aspire to provide a simple and easy service through the program and the website, </p>
                          <p class="mb-0">it will also be a service that combines all dimensions of the project and simulates the surrounding reality.</p>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="HD mb-5">
      <div class="container">
        <div class="row g-4 align-items-end my-4">
          <div class="col-lg-6" data-aos="fade-right" data-aos-duration="3000">
              <h1 class="display-5 mb-4 fw-bold text-primary" data-aos="fade-right"><i class="fa-solid fa-screwdriver-wrench"></i> Hardware</h1>
              <p class="mb-4">The hardware part is specialized in knowing the physical and electronic parts such as capacitors, resistors, and controllers, and how to connect these parts together to form an electrical circuit that can be used in one specific function or more, according to the appropriate software.</p>
              <div class="border rounded p-4">
                  <nav>
                      <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                          <button class="nav-link fw-semi-bold active" id="nav-mission4-tab" data-bs-toggle="tab" data-bs-target="#nav-mission4" type="button" role="tab" aria-controls="nav-mission4" aria-selected="true">Mission</button>
                          <button class="nav-link fw-semi-bold" id="nav-vision4-tab" data-bs-toggle="tab" data-bs-target="#nav-vision4" type="button" role="tab" aria-controls="nav-vision4" aria-selected="false">Vision</button>
                      </div>
                  </nav>
                  <div class="tab-content" id="nav-tabContent">
                      <div class="tab-pane fade show active" id="nav-mission4" role="tabpane4" aria-labelledby="nav-mission4-tab">
                          <p>To keep our hardware simple, Plan for problems, Focus on minimizing risk and reduce the chance of errors.</p>
                          <p class="mb-0">Prototype early to test our market, Perform pre and post circuit simulation, Plan timing carefully and Figure costs accurately.</p>
                      </div>
                      <div class="tab-pane fade" id="nav-vision4" role="tabpane4" aria-labelledby="nav-vision4-tab">
                          <p>Our vision It is to facilitate the construction of hardware and help people with intellectual disabilities to practice some of the tasks,</p>
                          <p class="mb-0">that they were deprived of through hardware connections that help them move, open and close what they want to make tasks easier.</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6" data-aos="fade-left" data-aos-duration="1500">
            <img class="img-fluid rounded w-100" src="../../assets/images/Hardware.jpg">
        </div>
        </div>
      </div>
    </div>
  </div>
