.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  transform: translateY(calc(100% - 60px)); /* Adjust the value as needed */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #a81c1c;
  color: #fff;
  border: none;
  cursor: pointer;
  z-index: 1000000000000;
}

.scroll-to-top-button i {
  font-size: 24px;
}
